@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

body { 
    margin: 0;   /* Remove body margins */
    font-family: 'Open Sans', sans-serif;
}
form{
    border: #282c34 solid;
    width: 40%;
    padding: 10px 16px;
    margin: 10px auto;
}
/*            main hover{
                box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
            }*/
form a:link, a:visited {
    background-color: #282c34;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
form a:hover, a:active {
    background-color:black ;
}

footer{
    background-color:#282c34; 
    color: white;
    display: inline-block;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
}
h1{
    font-size: 1.5em;
    padding: 0 auto;
    font-weight: 800;

}

.header {
    top: 0px;
    margin-bottom: 70px;
    background-color: #282c34;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    position: fixed;
    width: 100%;
}
.main {
    padding: 0 ;
    /*                margin:30px auto;*/
    border-bottom: 1px solid #fafafa;
    margin-top: 135px;
}
@media screen and (max-width: 1000px) {
  .form, .main, .header {
    width: 100%;
    height: 100%;/* The width is 100%, when the viewport is 800px or smaller */
  }
}
