<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Playerservlet</servlet-name>
        <servlet-class>Playerservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePlayer</servlet-name>
        <servlet-class>SavePlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPlayers</servlet-name>
        <servlet-class>ViewPlayers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePlayer</servlet-name>
        <servlet-class>DeletePlayer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Playerservlet</servlet-name>
        <url-pattern>/players/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePlayer</servlet-name>
        <url-pattern>/SavePlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPlayers</servlet-name>
        <url-pattern>/ViewPlayers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePlayer</servlet-name>
        <url-pattern>/DeletePlayer</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            index.html
        </welcome-file>
    </welcome-file-list>
</web-app>
